<h1>Welcome to Mint your own NFT by <%= status %> & <%= name %></h1>

<p>New To this Website? Register now to start minting your own NFTs</p>
<a href="register">Register</a>
<p>Login for existing user</p>
<a href="login">Login</a>