<h1>Login <%= status %></h1>
  <form action="/login" method=POST
  <DIV>
    <label for="email">Email ID</label>
    <input type="email" id="email" name="email" required>
  </DIV>
   <DIV>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
  </DIV>
  <button type="login">Login</button>
  </form>
<a href="register">register</a>