<h1>Register <%= status %></h1>
<form action="/register" method=POST
    <DIV>
    <label for="name">Name</label>
    <input type="text" id="name" name="name" required>
  </DIV>
   <DIV>
    <label for="email">Email ID</label>
    <input type="email" id="email" name="email" required>
  </DIV>
   <DIV>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
  </DIV>
  <button type="register">Register</button>
  </form>
  <a href="login">Login</a>